@use '../scss/variables.scss';

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin background {
  background-image: linear-gradient(to bottom, #57037a, #813799, #ab62ba, #d48ddc, #febaff);
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}